.button {
  margin-top: 10px;
  display: inline-block;
  font-size: 18px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: rgb(16, 99, 177);
  background-color: transparent;
  padding: 0 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: rgb(16, 99, 177) 3px solid;
  border-radius: 4px;
  cursor: pointer;
}

.mail {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  font-size: 18px;
  color: rgb(16, 99, 177);
}
